<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:test="http://www.linkingluck.com/midware/resource"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.linkingluck.com/midware/resource http://www.linkingluck.com/midware/resource/resource-1.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="com.linkingluck.midware.resource"/>
    <!--
    <bean class="com.linkingluck.midware.resource.ExcelTest"></bean>
    -->

    <test:config id="config">
        <test:format type="excel" location="resources/resource" suffix="xlsx"/>
        <test:package path="com.linkingluck.midware.resource"/>
<!--        <test:class path="com.linkingluck.midware.resource.excel.RandomNameResource"/>-->
    </test:config>

</beans>


